html {
    height: 100%;
}

a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
    display:flex;
    justify-content:center;
    
}
.navbar{
    display:block;
    margin-left:0px;
    padding-left:0px;
    display:flex;
    justify-content:space-around;
}
.footer{
    display:flex;
    justify-content:space-between;
}
#wow{
    display:flex;
}
#real{
    display:flex;
    justify-content:space-between;
}
.thumbnail-image{
    height:100%;
    width:75%;
}
.gallrow{
    height:50%;
    width:100%;
    display:flex;
    justify-content:space-around;
}
.thumbnail{
    display:flex;
    justify-content:center;
    width:40%;
}
.one{

}

.two{
    
}
.gallery{
    height:75%;
}
.about{
    background-image:url("https://media.giphy.com/media/13PQd8jkcU5ABy/giphy.gif");
}